[Unit]
Description=Prometheus Alertmanager
After=network-online.target
Wants=network-online.target

[Service]
User=alertmanager
Group=alertmanager
Type=simple
ExecStart=/opt/alertmanager-{{ alertmanager_version }}.linux-amd64/alertmanager \
  --config.file=/etc/alertmanager/alertmanager.yml \
  --web.listen-address=:{{ alertmanager_port }} \
  --cluster.listen-address=""
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
