route:
  group_by: ['alertname', 'instance']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: email-notifications

receivers:
- name: email-notifications
  email_configs:
  - to: '{{ smtp_to }}'
    from: '{{ smtp_from }}'
    smarthost: '{{ smtp_smarthost }}'
    auth_username: '{{ smtp_username }}'
    auth_password: '{{ smtp_password }}'
    require_tls: true

inhibit_rules:
- source_match:
    severity: critical
  target_match:
    severity: warning
  equal: ['alertname', 'instance']
